$border-radius-size: 14px;
$barbarian: #ec9b3b;
$wizard: #4facff;
$rogue: #074322;
$knight: #67706b;
$druid: #99581c;

$dragon: #056856;
$giant: #4b5352;
$gnome: #82bb30;
$goblin: #568612;
$harpy: #0aaaaf;
$imp: #c775e5;
$ogre: #826c08;
$reaper: #141410;
$troll: #182c5e;
$vampire: #ad0b2e;
